body{
	font-family: 'Barlow', sans-serif;
	color: #333;
}
input,button {
	font-family: 'Barlow', sans-serif;
	color: #333;
}
* {
	box-sizing:border-box;
}
.container {
	padding:0 2%;
	@media screen and (min-width: 768px) {
	padding:0 15%;
		
	}
}