.header {
	background: #333;
	background: -webkit-linear-gradient(top, #646464 0%, #0e0e0e 100%);
	background: linear-gradient(to bottom, #646464 0%,#0e0e0e 100%);
	border-top: 1px solid #444;
	color: #fff;
	height: 85px;
	display: flex;
	align-items: center;
	h1 {
		font-size: 1.5em;
		text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
	}
	img {
		max-width: 135px;
		margin-right: 20px;
	}
	.container {
		align-items: center;
		display: flex;
		width: 100%;
	}
	@media screen and (min-width: 768px) {
		h1 {
			font-size: 2em;
		}
	}
}