.main {
	position: relative;
	padding-top: 15px;
	.container {
		.quiz {
			display: flex;
			flex-direction: column;
			.photo-container {
				margin: 0;
				width: 100%;
				max-height: 50vh;
				position: relative;
				overflow: hidden;
				img {
					width:100%;
					display: block;
				}
				figcaption {
					position: absolute;
					background: rgba(0,0,0,0.5);
					z-index: 1;
					width: 100%;
					top: 0;
					bottom: 0;
					align-items: center;
					justify-content: center;
					display: flex;
					color: #fff;
					text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
					opacity: 0;
    			transition: opacity 400ms;
					&.show {
						opacity: 1;
					}
				}
			}
			.question-container {
				width: 100%;
			}
			.links {
				margin-top: 5vh;
		    display: flex;
		    justify-content: space-between;

				a {
					text-shadow: 0px 0px 0px rgba(0,0,0,0);					
					text-decoration: none;
					color: #333;
					transition: all 0.3s ease-in-out;
					&:hover {
					text-shadow: 0px 0px 0px rgba(0,0,0,0.8);

					}
				}
			}
		}
	}
	@media screen and (min-width: 768px) {
		.container {
			.quiz {
				flex-direction: row;
				.photo-container{					
					width: 50%;
					max-height: calc(100vh - 100px);
					min-width: 50%;
					max-width: 50%;					
				}
				.question-container{
					width: 50%;
					padding-left: 30px;
				}
				.links {
					margin-top: 10vh;
				}
			}
		}
	}
}