.fade {
	width: 100%;
	overflow: hidden;
	background: rgba(0,0,0,0.6);
	position: absolute;
	top: 0;
	bottom: 0;
	height: calc(100vh - 85px);
	display: flex;
	align-items: center;
	transition: opacity 400ms;
	justify-content: center;
	&.hide {
		opacity: 0;
		pointer-events: none;
	}
}